################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Documentation/AkhavanDatabaseSystem/.vs/AkhavanDatabaseSystem/v16/Server/sqlite3
